%div
  =render "layouts/messages"
  %ul.breadcrumb
    %li 
      %a(href="www.google.com") Hello!!! 
  =@user.name
  %br

  %br
  -@authentications.each_with_index do |auth, i|
    =render :partial => "leagues", :locals => {index: i}
  
